<body>
  <div class="container">
    <!--titile-->
    <div class='row center'>
      <div class='col s12'>
        <h2>ユーザー一覧</h2>
      </div>
    </div>
    <!--content-->
    <div class="row">
    <% @users.each do |user|%>
    <div class="col s12 m12">
      <div class="card light-blue accent-1">
        <div class="card-content white-text">
          <span class="card-title"><i class="medium material-icons center">account_box</i><%= user.name%></span>
          <p><%= user.profile%></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>


  </div>
</body>
